<mat-card>
  <mat-card-title>Contact Us</mat-card-title>
  <mat-card-content>
    <div class="contact-icon-row">
      <div class="contact-icon">
        <button mat-raised-button color="primary" (click)="onCallClick()">
          <mat-icon>phonelink_ring</mat-icon>
          +1 876-972-1933
        </button>
        <p class="contact-message">Give us a call</p>
      </div>
      <div class="contact-icon">
        <button mat-raised-button color="primary" (click)="onMailClick()">
          <mat-icon>mail_outline</mat-icon>
          info@phoenixmedicalcenter.com
        </button>
        <p class="contact-message">Mail us</p>
      </div>
      <div class="contact-icon">
        <button mat-raised-button color="primary" (click)="onPositionClick()">
          <mat-icon>location_on</mat-icon>
          65 Main Street, Saint Ann's Bay, JM
        </button> 
        <p class="contact-message">Find our location</p>
      </div>
    </div>
    <div class="map"></div>
  </mat-card-content>
</mat-card>