<app-about-title></app-about-title>

<mat-card>
    <mat-card-title>Our Team</mat-card-title>
    <mat-card-content>
      <ul>
        <li>Dr. Ian Titus - General Surgeon</li>
        <li>Dr. Damaris Hernandez - Refractionist</li>
      </ul>
    </mat-card-content>
  
    <!--mat-tab-group>
  
      <mat-tab label="Coming Soon">Details coming soon</mat-tab>
  
      <mat-tab label="Dr. Maynard D. McIntosh">
        <mat-card-content>
          <div class="dr-photo">
              <img src="assets/K640_dr-mcintosh.JPG" alt="Dr. Maynard D. McIntosh">
          </div>
          <div class="dr-description">
            <h1>Dr. Maynard McIntosh MBBS., D.O. (UWI)</h1>
            <p>
              Dr. Maynard D. McIntosh MBBS; DO (UWI) <br/>
              Resident Ophthalmologist St. Joseph’s Hospital Kingston, Jamaica <br/>
              Director / Ophthalmologist: Eyelite Optical Jamaica; Ophthalmic Suites <br/>
              National Classifier (Blind Sports) for Jamaica Paralympic Association <br/>
              Member OSWI; OSJ; AAO; MAJ
            </p>
            <p>
              Dr. McIntosh is a graduate of the University of the West Indies who has garnered his range of surgical skills through collaborative surgical programs conducted by Faculty from Europe, the UK, the United States, Dominican Republic, and South Africa.
              His unique approach to learning and education saw him being a pioneer locally in small incision Phaco Cataract Surgery, Minimally invasive Glaucoma procedures, and several modalities of non-surgical management of diabetic retinopathy.
            </p>
            <p>
              Dr. McIntosh was instrumental in the resuscitation of the Opthalmological Society of Jamaica on which he served as Secretary for four years during which he participated in the planning and delivery of public and professional education programs.
              Through his Company Eyelite Optical Dr. McIntosh has for over six years, conducted island-wide vision screening in schools and institutions, providing free and sponsored eyewear as well as surgical care to many children and adults.
            </p>
            <p>
              On the field he continues to display versatility and discipline, with over fifteen years of national representation as a masters athletes, specializing in the 100m and 200m sprints, for which he has garnered the prestigious Penn Relays Winnner’s plaque in 2013, and many medals at indoor and outdoor international meets.
              He still remains a world ranked masters athlete and physical training enthusiast.
            </p>
            <p>
              Major interests: Anterior segment; Cataract [PHACO (refractive) Surgery], PK; LASIK; and Glaucoma
            </p>
            <p>
              Publications: Glaucoma, Basic and Clinical Aspects
            </p>
            <p>
              Strategies for Neuroprotection in Glaucoma
            </p>
            <p>
              Symposiums and presentations at OSJ and OSWI
            </p>
            <p>
              Philanthropic involvement: Jamaica Outreach Project Volunteer; Lion’s Club of Clarendon
            </p>
            <p>
              Philanthropic involvement: Jamaica Outreach Project Volunteer; Lion’s Club of Clarendon
            </p>
            <p>
              National Classifier (Jamaica)/:: International Blind Sports Association (IBSA)
            </p>
            <p>
              Co-curricular interests: Elite Masters track athlete and physical trainer; Landscape design; Interior Decorating; Gourmet cooking
            </p>
          </div>
        </mat-card-content>
      </mat-tab-->
  
      <!--mat-tab label="Dr. Romea Mitchell">
        <mat-card-content>
          <div class="dr-photo">
              <img src="assets/K640_dr-mitchell.JPG" alt="Dr. Romea Mitchell">
          </div>
          <div class="dr-description">
            <h1>Dr. Romea Mitchell, O.D.</h1>
            <p>
              Dr. Romea Mitchell is a Registered Optometrist on the Island of Jamaica.
              She received her Bachelors of Science Degree in Biological Sciences (Pre-Med) from Florida International University, Miami, Florida in 1999 and her Doctor of Optometry Degree from the New England College of Optometry, Boston, Massachusetts, graduating as a member of the Beta Sigma Kappa Honor Society, on June 4, 2006.
            </p>
            <p>
              After establishing her Optometric practice in Houston, Texas for 8 years, Dr. Mitchell relocated to Las Vegas, Nevada where she practiced for approximately 1 year then returned home to Jamaica where she now resides and continue to provide compassionate, quality eye care and eye wear at Ophthalmic Suites and other locations across the island.
              Dr. Mitchell’s compassion and belief in patient education in addition to her bilingual skills (English / Spanish) have allowed her to positively impact the lives of her patients in the USA as well as in Jamaica.
            </p>
            <p>
              Dr. Mitchell enjoys travelling, church related activities, and spending time with her family and friends.
            </p>
          </div>
        </mat-card-content>
      </mat-tab>
  
      <mat-tab disabled label="Dr. Ian Titus">
        <mat-card-content>
          <div class="dr-photo">
              <img src="assets/K640_dr-titus.JPG" alt="Dr. Ian Titus">
          </div>
          <div class="dr-description">
            <h1>Dr. Ian Titus</h1>
            <p>General Surgeon</p>
            <p>... Further Description</p>
          </div>
        </mat-card-content>
      </mat-tab>
  
      <mat-tab disabled label="Dr. Damaris Hernandez">
        <mat-card-content>
          <div class="dr-photo">
              <img alt="Dr. Damaris Hernandez">
          </div>
          <div class="dr-description">
            <h1>Dr. Damaris Hernandez</h1>
            <p>Description</p>
          </div>
        </mat-card-content>
      </mat-tab>
  
    </mat-tab-group-->
  
  </mat-card>
  