<mat-card class="title-card">
  <mat-card-title>
    <div class="title-image">
        <img src="assets/contact-title.jpg" alt="Contact Title Image">
    </div>
    <button mat-raised-button (click)="onContactTitleClick()">Contact Us</button>
  </mat-card-title>
  <mat-card-content>
    <div class="contact-icon-row">
      <div class="contact-icon">
        <button mat-raised-button color="primary"
         (click)="onCallClick()"
         matTooltip="Give us a call">
          <mat-icon>phonelink_ring</mat-icon>
          +1 876-972-1933
        </button>
      </div>
      <div class="contact-icon">
        <button mat-raised-button 
         color="primary" 
         (click)="onMailClick()"
         matTooltip="Mail us">
          <mat-icon>mail_outline</mat-icon>
          info@phoenixmedicalcenter.com
        </button>
      </div>
      <div class="contact-icon">
        <button mat-raised-button
         color="primary"
         (click)="onPositionClick()"
         matTooltip="Find our location">
          <mat-icon>location_on</mat-icon>
          65 Main Street, Saint Ann's Bay, JM
        </button> 
      </div>
    </div>
    <div class="map"></div>
  </mat-card-content>
</mat-card>