.nav {
    background-color: teal;
    border-radius: 5px;
    mat-card-title {
        font-size: 2em;
    }
}

.nav-ul {
    display: flex;
    padding: 0;
    list-style: none;
    button {
        margin: 2px;
    }
}

.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }

 .hidden-menu {
     button {
         // width: 80%;
     }
 }