<mat-card class="nav">
    <mat-card-header>
      <img mat-card-avatar class="header-image">
      <mat-card-title class='main-title'>Phoenix Health Complex</mat-card-title>
      <mat-card-subtitle>Advanced care, because we CARE</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
            <ul class="nav-ul" routerLinkActive="active">
              <button mat-raised-button routerLink="home"><mat-icon>home</mat-icon> Home</button>
              <span class="fill-remaining-space"></span>
              <div fxLayout="row" fxShow="false" fxShow.gt-xs>
                <button mat-raised-button routerLink="about">About Us</button>
                <button mat-raised-button routerLink="contact">Contact Us</button>
                <button mat-raised-button routerLink="services">Our Services</button>
                <button mat-raised-button routerLink="doctors">Our Doctors</button>
              </div>
              <button mat-raised-button [matMenuTriggerFor]="mainMenu" fxHide="false" fxHide.gt-xs>
                <mat-icon>menu</mat-icon>
              </button>
            </ul>
    </mat-card-content>
</mat-card>

<mat-menu #mainMenu="matMenu" class="hidden-menu">
  <button mat-menu-item routerLink="about">About Us</button>
  <button mat-menu-item routerLink="contact">Contact Us</button>
  <button mat-menu-item routerLink="services">Our Services</button>
  <button mat-menu-item routerLink="doctors">Our Doctors</button>
</mat-menu>

<div class='header-spacing'></div>

<router-outlet></router-outlet>