$nav-background-light: rgba(255,255,255,0.6);
$nav-background: #0c71c3;
$nav-background-shade: #1e2ceb;

.nav {
  background-color: $nav-background;
  border-radius: 0px;
  margin: 0px;
  border-top: 0px;
  border-bottom: 1px solid black;
  margin-bottom: -4px;
  padding: 6px !important;
  mat-card-title {
    font-size: 2em;
    font-weight: bold;
    color: $nav-background-shade
  }
  mat-card-subtitle {
    color: $nav-background-light;
    font-weight: bold;
  }
}

.nav-ul {
  display: flex;
  padding: 0;
  list-style: none;
  button {
    margin: 2px;
  }
}

.fill-remaining-space {
   /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.header-image {
  background-image: url('/assets/logo.png');
  background-size: cover;
  background-color: $nav-background-light;
  border: 1px solid $nav-background-shade;
}