$nav-background-light: rgba(255,255,255,0.6);
$nav-background-shade: #1e2ceb;
$logo-color-top: #0058A1;
$logo-color-bot: #0076BB;
$logo-width: 200px;

.nav {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$logo-color-top, endColorstr=$logo-color-bot);
  background: -webkit-gradient(linear, top, bottom, from($logo-color-top), to($logo-color-bot));
  background: -moz-linear-gradient(top,  $logo-color-top,  $logo-color-bot);
  border-radius: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid black;
  padding: 6px !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .main-title {
    font-size: 2em;
    font-weight: bold;
    color: $nav-background-shade
  }
  mat-card-subtitle {
    color: $nav-background-light;
    font-weight: bold;
  }
}

.nav-ul {
  display: flex;
  padding: 0;
  list-style: none;
  button {
    margin: 2px;
  }
}

.fill-remaining-space {
   /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.main-title {
  color: white !important;
  width: 100%;
  box-sizing: border-box;
}

.header-spacing {
  height: 130px;
}

.phoenix {
  background-color: #FF6900;
  border-radius: 15px;
  padding-left: 12px;
  padding-right: 12px;
}

.healthcomplex {
  font-size: 22px;
  margin-top: -2px;
  margin-bottom: -2px;
  width: 174px !important;
}

.logo-title {
  width: 150px;
  text-align: center;
  vertical-align: middle;
}

.logo {
  width: $logo-width;
  float: left;
}

.subtitle {   
  display: inline-block;
  bottom: 45px;
  position: absolute;
  font-size: 16px;
}