$nav-background-light: rgba(255,255,255,0.6);
$nav-background: #0c71c3;
$nav-background-shade: #1e4eeb;

.nav {
  background-color: $nav-background;
  border-radius: 5px;
  mat-card-title {
    font-size: 2em;
    color: $nav-background-light
  }
  mat-card-subtitle {
    color: $nav-background-light;
  }
}

.nav-ul {
  display: flex;
  padding: 0;
  list-style: none;
  button {
    margin: 2px;
  }
}

.fill-remaining-space {
   /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.header-image {
  background-image: url('/assets/logo.png');
  background-size: cover;
  background-color: $nav-background-light;
  border: 1px solid $nav-background-shade;
}