<mat-card class="title-card">
  <mat-card-title>
    <div class="title-image">
        <img src="assets/contact-title.jpg" alt="About Title Image">
    </div>
    <button mat-raised-button (click)="onAboutTitleClick()">About Us</button>
  </mat-card-title>
  <mat-card-content>
      <p>
        Phoenix Medical has a long history of serving St. Ann's Bay with the very best eye care for decades, through the loving care of Dr. Cindo Nicholson. 
        Of this we are very proud!
        In 2018, under new management, we have given our building a new look and completely refurbished our interior.
        Most importantly to serve our beloved St. Ann community even more we are upgrading to the most modern eye center on the island.
        It is our intention to continue in the long history of Phoenix Medical and serving you with continued excellence!
      </p>
      <p>
        See you soon!
      </p>
  </mat-card-content>
</mat-card>