<mat-card>
  <mat-card-title>About Us</mat-card-title>
  <mat-card-content>
      <p>
          Phoenix has a long history of serving St. Ann's Bay with the very best overall health and eye care for over 40 years, through the loving care of Dr. Cindo Nicholson.
          Of this we are very proud! In 2018, under new management, we have given our building a new look and completely refurbished our interior.
          Most importantly to serve our beloved St. Ann community even more we are upgrading to the most modern eye center on the island.
          We have also added a top class General Practitioner and a best in class Family Doctor! 
          It is our intention to continue in the long history of Phoenix and to serve you with continued excellence!
      </p>
      <p>
        See you soon!
      </p>
  </mat-card-content>
</mat-card>