<mat-card>
  <mat-card-title>Our Services</mat-card-title>
    <mat-card-content>
      <ul>
        <li>Full eye evaluation for glaucoma, cataracts, retinal diseases, diabetic eye problems</li>
        <li>A refraction is performed as part of a comprehensive examination to determine if you need glasses or if your current eyeglass prescription is appropriate.</li>
        <li>Best computerized visual field testing devices and the newest optical coherence tomography (OCT) for our glaucoma and retinal evaluations.</li>
        <li>From a therapeutic standpoint, our office is equipped with an operating theatre for treatment of glaucoma and cataract management and Many minor surgical problems can also be treated within our office without the need of a hospital.</li>
      </ul>
    </mat-card-content>
</mat-card>