<mat-card>
  <mat-card-title>Our Services</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>face</mat-icon>
          <h2 mat-line>Full eye evaluation</h2>
          <p mat-line>for glaucoma, cataracts, retinal diseases, diabetic eye problems</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>donut_small</mat-icon>
          <h2 mat-line>Glasses examination</h2>
          <p mat-line>A refraction is performed as part of a comprehensive examination to determine if you need glasses or if your current eyeglass prescription is appropriate.</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>stars</mat-icon>
          <h2 mat-line>State of the art technology</h2>
          <p mat-line>Best computerized visual field testing devices and the newest optical coherence tomography (OCT) for our glaucoma and retinal evaluations.</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>multiline_chart</mat-icon>
          <h2 mat-line>Operating theatre for treatment of glaucoma and cataract management</h2>
          <p mat-line>From a therapeutic standpoint, our office is equipped with an operating theatre for treatment of glaucoma and cataract management and Many minor surgical problems can also be treated within our office without the need of a hospital.</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
</mat-card>