@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background: #d3d3d3;
  margin: 0px;
}

mat-card {
  border-top: 2px solid #1e4eeb;
  margin-bottom: 6px;
  margin: 8px;
}

.title-card {
  padding: 0px !important;
  padding-bottom: 24px !important;
  mat-card-title {
    .title-image{ 
      img  {      
        width: 100%;
        height: auto;
      }
    }
    button {
      margin-left: 8px;
      font-weight: bold;
    }
  }
  mat-card-content {

  }
}

.mat-tooltip {
  font-size: 18px;
}