<app-about-title></app-about-title>
<app-contact-title></app-contact-title>
<app-services-title></app-services-title>
<app-doctors-title></app-doctors-title>

<!--mat-card>
  <mat-card-title>Connect on Social Media</mat-card-title>
  <mat-card-content>
    <div class="fb-page-container">
      <div class="fb-page" 
      data-tabs="timeline,events,messages"
      data-href="https://www.facebook.com/PMC65mainst/"
      data-width="500" 
      data-height="800"
      data-small-header="false"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="true"></div>
    </div>
  </mat-card-content>
</mat-card-->

  <!--mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions-->