<app-about></app-about>
<app-contact></app-contact>
<app-services></app-services>
<app-doctors></app-doctors>

<mat-card>
  <mat-card-title>Connect on Social Media</mat-card-title>
  <mat-card-content>
    <div class="facebook-container">
      <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FPMC65mainst&width=600&colorscheme=light&show_faces=true&border_color&stream=true&header=true&height=435" scrolling="yes" style="border:none; overflow:hidden; width:600px; height:430px; background: white; float:left; " allowtransparency="true" frameborder="0"></iframe>
    </div>
  </mat-card-content>
  <!--mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions-->
</mat-card>